body {
    background-color: rgb(220, 223, 241);
    font-size: 20px;
}

img {
    height: 300px;
    width: 300px;
}
p, ol, ul{
    width: 600px;
}
h1, h2, h3, .section{
    display: flex;
    justify-content: center;
    align-items: center;
}